<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <title>Olá {{user}}</title>
</head>
<body>
    <h1> Bom dia {{user}}</h1>
<form action="#" method="post">
    <h1> Relatório banco: {{ banco }}</h1>
    <h1>Consulta de usuarios no banco: </h1>
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <input class="btn btn-default" type="submit" name="consulta" value="consulta">
    <a><br><br>{{ relatorio }}</a>

</form>
</body>
</html>