<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>radio</title>
</head>
<body>
    <form method="post">
            <div>
                <br>
                <label >Possui convenio Médico? </label><br><br>
                <label><input type="radio" name="choice" value="sim"> Sim <br></label>
                <br>
                <label><input type="radio" name="choice" value="nao"> Não </label>
            </div>

            <h1> {{resp}}</h1>

            <button type="submit">enviar</button>

    </form>
</body>
</html>